<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TfsUri" value="https://tfsapidiasoftapplication.visualstudio.com/" />
    <add key="TfsToken" value="465h27ebht3lxkder6z2vz7wq7f3t252dw6gufp6i3a5iueuqvwa" />
    <add key="TfsProject" value="MyFirstProject" />
    <add key="Timeout" value="00:00:10" />
    <add key="SlackUri" value="https://hooks.slack.com/services/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" />
    <add key="SlackChannel" value="general" />
    <add key="SlackUserName" value="chaikagroupworkspace.slack.com" />
    <add key="EventLogName" value="notifier" />
    <add key="EventLogEntryType" value="Warning" />
    <add key="EventLogSource" value="notifier" />
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>